modules = ["web", "nodejs-20", "python-3.12"]
run = "python app.py"

[nix]
channel = "stable-24_05"
packages = ["iana-etc", "libmysqlclient"]

[deployment]
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 9957362
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export DJANGO_SETTINGS_MODULE=chat.settings"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m django runserver 0.0.0.0:5000"
